.contact-section {
  background: #f5f5f5;
  /* padding: 100px 20px; */
  background-color: #efefef;
}

.contact-wrapper {
  max-width: 1400px;
  /* margin: 0 auto; */

  display: flex;
  align-items: center;
  position: relative;
}

.contact-image {
  width: 55%;
}

.contact-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  display: block;
}

.contact-card {
  width: 60%;

  background: #fff;

  padding: 50px;

  border-radius: 20px;

  position: absolute;
  right: 0;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
}

.contact-card h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.contact-card input,
.contact-card textarea {
  width: 100%;

  padding: 18px;

  border: 1px solid #ddd;

  font-size: 16px;

  outline: none;
}

.contact-card textarea {
  margin-top: 20px;
  resize: none;
}

.contact-card button {
  margin-top: 25px;

  width: 180px;
  height: 60px;

  border: none;
  background: #000;
  color: white;

  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .contact-wrapper {
    flex-direction: column;
    gap: 12px;
  }

  .contact-image,
  .contact-card {
    width: 100%;
  }

  .contact-card {
    position: relative;
    margin-top: -80px;
  }

  .contact-card h2 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .contact-section {
    padding: 24px 3px;
  }

  .contact-image img {
    height: 300px;
  }

  .contact-card {
    padding: 25px;
    margin-top: 0;
  }

  .contact-card h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .contact-card button {
    width: 100%;
  }
}
