.testimonials {
  padding: 100px 20px;
  background: #fff;
}

.testimonial-top {
  text-align: center;
  margin-bottom: 80px;
}

.testimonial-top h2 {
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  line-height: 100%;
  font-family: "Inter";
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 50px;
}

.gallery-img {
  width: 90px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  transition: 0.3s;
}

.gallery-img:hover {
  transform: translateY(-8px);
}

.testimonial-content {
  max-width: 750px;
  margin: auto;
  text-align: center;
}

.profile-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 30px;
}

.testimonial-content p {
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: 400;
}

.testimonial-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-content span {
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.navigation button {
  color: #466378;
  border: none;
  background: transparent;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .gallery-img {
    width: 75px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .testimonials {
    padding: 70px 16px;
  }

  .gallery {
    gap: 10px;
  }

  .gallery-img {
    width: 60px;
    height: 80px;
  }

  .testimonial-content p {
    font-size: 24px;
  }

  .navigation {
    gap: 15px;
  }
  .testimonial-top h2 {
    font-size: 36px;
  }
}
